.tit_1
{
    margin-top: 15px;
}
.logo
{
    float: left;
    display: inline;
    margin-right: 10px;
}
.menu_itens
{
    margin-top: 20px;
}

.menu_itens a
{
    color: black;
}
.ab
{
    border-radius: 40px;
    margin-left: 5px;
    background-color: #e5e5e5;
}
.dir
{
    background-color: #e5e5e5;
    border-radius: 15px;
    padding-top: 15px;
}
.dir h1{
    font-size: 25px;
}
.main{
    padding: 10px;
}
.comodi
{
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.comodi label
{
    width: max-content;
}
.det
{
    margin-top: 15px;
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.det label
{
    width: max-content;
}
.raio
{
    margin-top: 15px;
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.anuncio
{
    background-color:#e5e5e5;
}
.iconesanuncio i
{
    padding: 3px;
    font-size: 15px;
}
.anunciante
{
    background-color: white;
}
.detalhesdoanuncio
{
    float: right;

}
.detalhesdoanuncio h1
{
    font-size: 35px;
}
.detalhesdoanuncio p
{
    padding-left: 5px;
}
.distancia
{
    display: flex;
}
.distancia .dist 
{
    padding-left: 40px;
}
.dir
{
    height: fit-content;
    padding-bottom: 20px;
}
.slider {
    -webkit-appearance: none;
    width: 77%;
    height: 4px;
    border-radius: 5px;  
    background: black;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    border-radius: 50%; 
    background:black;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
  }
.km 
{
    float: right;
    padding-right: 10px;
    padding-top: 3px;
}
.marcador
{
    margin-right: 5px;
}
.marcadorraio
{
    padding-top: 10px;
}
#menuToggle{
    display: none;
}
.menu-icon{
    display: none;
}
.abrirmenu
{
    color: black;
}
.menu li{
    list-style-type: none;
    display: inline-block;
}

.dropdown #dropdownMenuButton1 {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.702);
    border-color: rgba(0, 0, 0, 0.702);
}

@media screen and (max-width: 768px)
{
    .header{  
        top: 0px;
        width: 100%;
    }
    .header nav{
        display: absolute;
        width: 100%;
        height: 100%;
    }
    .menu{
        display: flex;
        position: fixed;
        flex-wrap: wrap;
        align-content: center;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 0%;
        background-color: rgba(0,0,0, 0.7);
        overflow: hidden;
        transition: height 0.3s;
        z-index: 1;
    }
    
    .menu li{
        display: block;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .menu li a{
        display: block;
        text-align: center;
        width: 100%;
        color: white;
    }
    .menu i{
        display: none;
    }
    .ab{
        background-color: rgba(0,0,0, 0.0);
    }
    .menu-icon{
        display: block;
        color: white;
        width: 50px;
        height: inherit;
        position: absolute;
        top: 15px;
        right: 30px;
        line-height: 60px;
        z-index: 999;
    }
    .menu-icon i{
        font-size: 1.7em;
        padding-top: 6px;
    }
    #menuToggle:checked ~ label i:nth-child(2){
        display: block;
    }
    #menuToggle:checked ~ label i:first-child{
        display: none;
    }
    #menuToggle:not(checked) ~ label i:nth-child(2){
        display: none;
    }
    #menuToggle:not(checked) ~ label i:first-child{
        display: block;
    }
    #menuToggle:checked ~ ul{
        height: 100%;
    }
    i
    .anunciante{
        height: 1000px;
    }

}
    
@media screen and (max-width: 576px) {
    .tit_1 {
        font-size: 22px;
    }

    .abrirmenu
    {
        margin-top: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .dropdown #dropdownMenuButton1 {
        font-size: 14px;
    }
}

    
    