        body {
            background-color:  #F6F6F6
        }

        .flex-center {
            display: flex;
            justify-content: center;
        }

        .rounded-parameter {
            border-radius: 8px;
            background-color: white;
            padding: 8px 30px;
            height: 80px;
            margin: 20px 0px;
            text-align: left;
        }

        #mapa {
            height:100%;
            width:500px;
        }

        .select-parameter {
            width: 40%;
            min-width: 150px;
        }

        .main-info {
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }